body
{
    margin-top: 49px;
    background-color: #bcbec1;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 49px;
  }
  
  li 
  {
    float: left;
    border-right: 2px solid #bbb;
    height: 49px;
  }
  
  li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover:not(.active) 
{
    background-color:red
}

#home
  {
    border-left: 2px solid #bbb;
    height: 49px; 
  }

  html 
{
  scroll-behavior: smooth;
}

#pDesign
{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

#remedialClass
{
    margin-top: 100px;
}